.footer__copy {
    background-color: #303030;
    padding: 15px 15px;
    text-align: center;
}

.copy__text {
    font-family: Roboto;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #ffffff;
}

.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffc222;
}

.footer__content {
    background-color: #595959;
    padding: 29px 0px 37px;
}

.footer__container {
    display: flex;
    justify-content: space-between;

}
.footer__map{
    padding-top: 10px;
    max-width: 630px;
    width: 100%;
}
.footer__map iframe {
   height:  100%;
   width: 100%;
}

.footer__title {
    font-family: Roboto;
    font-size: 16px;
    line-height: 36px;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: #ffffff;
    padding-bottom: 20px;
}
.footer__text{
    font-family: Roboto;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #d3d2d2;  
    padding-bottom: 27px;
}
.footer__info{
    max-width: 344px;
}
.footer__btn{
    display: inline-block;
    background-color: #ffc222;
    width: 271px;
    margin-bottom: 27px;
}

.footer__list li{
    margin-top: 10px;
}
.footer__list a{
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.25px;
    font-weight: 400;
    color: #ffffff;
    padding-left: 33px;
    position: relative;
    &:before{
        position: absolute;
        content: "\f003";
        left: 0;
        color: #ffbf19;
        font-family: 'icomoon';

    }
}
.footer__list li:first-child a{
    &:before{
        content: "\f095";
        left: 3px;
    }
}
.footer__list li:last-child a{
    &:before{
        content: "\f041";
        left: 3px;
    }
}